<footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-bottom">
                    <div class="col-sm-4">
                        <h3>ساعدنا فى الاشتراك</h3>
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_google_plus"></a>
                            <a class="a2a_button_linkedin"></a>
                            <a class="a2a_button_email"></a>
                            <a class="a2a_button_pinterest"></a>
                            <a class="a2a_button_viber"></a>
                            <a class="a2a_button_google_gmail"></a>
                            <a class="a2a_button_whatsapp"></a>
                            <a class="a2a_button_vk"></a>
                            <a class="a2a_button_wordpress"></a>
                            <a class="a2a_button_tumblr"></a>
                            <a class="a2a_button_amazon_wish_list"></a>
                            <a class="a2a_button_google_bookmarks"></a>
                            <a class="a2a_button_line"></a>
                            <a class="a2a_button_outlook_com"></a>
                            <a class="a2a_button_skype"></a>
                        </div>
                        <!-- AddToAny END -->

                    </div>
                    <div class="col-sm-4">
                        <h3>اتصل بنا</h3>
                        <h4>01068340679</h4>
                        <h4>01018466725</h4>
                    </div>
                    <div class="col-sm-4">
                        <h3>التصميم والتطوير</h3>
                        <h4>محمد عبد الحليم</h4>
                        <h4>mohamedhalem@gmail.com</h4>
                        <h4>عمار سيد</h4>
                        <h4>ammarsayed669@gmail.com</h4>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <% var year = new Date(); %>
            <h4><bdi>  2017/<%= year.getFullYear(); %> &copy;</bdi> جميع الحقوق محفوظة</h4>
        </div>
        <div class="col-xs-12 go-to-top">
            <a class="scroll-link" href="#top-content"><i class="fa fa-chevron-up" title="اذهب الى الاعلى"></i></a>
        </div>
    </footer>


    <!-- Javascript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    
    <script src="js/NewScript.js"></script>
    
    <!--[if lt IE 10]>
        <script src="js/placeholder.js"></script>
    <![endif]-->
</body>
</html>