/*************************  Start Globals *************************/
button:hover, button:focus {
    background-color: #ff1493 !important;
    border-color: #e4008f !important;
}
/*Navbar*/
.navbar.navbar-no-bg { background: #ff1493;}
/*Settings Style*/
.web_colors .colors,  .web_colors .settings {background: #ff1493;}
/*Selections*/
::-moz-selection { background: rgba(255, 20, 147, .7);}
::selection { background: rgba(255, 20, 147, .7);}

/*Go To Top Button*/
/*Footer Bottom*/
.footer-bottom h3, footer .copyright h4, footer .go-to-top a i {color:#f90086}


/*************************  End Globals *************************/

/*************************  Start Home Page *************************/
/*header*/
.navbar-inverse ul.navbar-nav li a {text-shadow:none}
ul.navbar-nav span:first-of-type, .wel-come h1 > span {color: #ff9ddb; text-shadow:none}
.wel-come {background-color: #e4008f;}


/*Log Regist Section*/
.log-regist button, .footer-container button
{
    background-color: #e4008f;
    border: solid 1px #c5007c;
}

/*Counter Section */
.counter i
{color: #e4008f;}
.counter label{color:rgb(255, 71, 187);}

/*Style of Team Workers*/
.team-work .worker:hover {background:#ff1493;}
.team-work .worker:hover h4 {color:#ff1493;}

/*************************  End Home Page *************************/

/*************************  Start Login Page *************************/
/*Title of h1*/
.footer-log h1 > span:first-child{color: #ff1493;}
.footer-log h1 > span:last-child{background: #ff1493;}

/*focus on inputs*/
.form-control:focus {
    border-color: #ff1493;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 20, 147, 0.59), 0 0 8px rgba(255, 0, 138, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 20, 147, 0.59), 0 0 8px rgba(255, 0, 138, 0.6);

}


/*************************  End Login Page *************************/

/*************************  Start Register Page *************************/
/*Title of h1*/
.footer-regist h1 {color:#ff1493;}
.footer-regist h1 > span:last-child { color:#FFF; background: #ff1493;}
/*************************  End Register Page *************************/

/*************************  Start AllMyPage Page *************************/
.footer-user-page h1 {color:#ff1493;}
.services-box .services-box-icon { background: #ff1493;}
.services-box i {color:#fff}

/*************************  End AllMyPage Page *************************/

/*************************  Start Messages Page *************************/
.footer-message .message-once .sender-name, .footer-message .empty-messages {background:#ff008a}

/*************************  End Messages Page *************************/

/*************************  Start Myinfo Page *************************/
.user-info h1, .user-info h4 {color:#ff008a}

/*************************  End Myinfo Page *************************/

/*************************  Start MyPage Page *************************/
.mypage h1{color:#ff008a}
.mypage label {color: #ff008a; font-size: 23px;}

/*************************  End MyPage Page *************************/
















